body{
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
#div1{
    width: 25%;
    background-color: #ff00aa;
    float: left;
    overflow: hidden;
}
#div2{
    width: 50%;
    background-color: #af0;
    float: left;
}
#div3{
    width: 25%;
    background-color: #0af;
    float: left;
    position: relative;
    top: -20px;
}
#an{ background-image: url(../img/s.png);width: 42px;height: 40px}
/*clearfix是将浮动元素与非浮动同胞元素分开的最佳实现，无后遗症*/
.clearfix::after{
    content: ".";
    display:block;
    height: 0;
    visibility: hidden;
    clear:both;
}
p > em{
    color: green;
}
#dh li{
    display: inline;
}
#dh a{
    color: orange;
}
img[title="s"]{
    border: 20px solid green;
}
a::active{color: red}
p.sp{
    border: 1px solid blue;
    margin-top: 0;
    width: 500px;
    background-color: rebeccapurple;
    float: left
}
span.line{
    border: 4px solid red;
    border-bottom-color: yellow;
    border-left-width: 1px;
    padding-left: 16px;
    margin-left: 10px
}