*{margin: 0;padding: 0;box-sizing: border-box;}
.main{width: 960px;margin: 1px auto}
form{
    width: 504px;
    margin:0px auto;
}
input{
    float:left;
    height:36px;
    line-height:24px;
    padding:4px;
    border-width:2px 0 2px 2px;
    border-color:#b61d1d;
    border-style:solid;
    font-size:14px;
    font-family:"microsoft yahei";
    width:420px;
    outline:0;
    color: rgb(153, 153, 153);
}
button{
    float:left;
    width:80px;
    height:36px;
    background:#b61d1d;
    border:none;
    color:#fff;
    font-size:16px;
}
.clear_me{clear: left}
